#include "\masm32\include\resource.h"

#define ID_MANIFEST_RESOURCE 1

500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"
501 BITMAP DISCARDABLE "logo.bmp"
ID_MANIFEST_RESOURCE 24 DISCARDABLE "manifest.xml"

TESTWIN DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE 0, 0, 254, 157, 0
STYLE DS_3DLOOK |DS_SETFONT |DS_CENTER |WS_OVERLAPPED |WS_VISIBLE |WS_SYSMENU |WS_MINIMIZEBOX |WS_CAPTION
EXSTYLE WS_EX_ACCEPTFILES
CAPTION "[UPX 1.x - 2.x unpacker]"
FONT 8, "Verdana", 700, 0 /*FALSE*/
BEGIN
   CONTROL "UnPack", 107, BUTTON, BS_PUSHBUTTON | BS_CENTER | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 139, 60, 14
   CONTROL "Browse", 108, BUTTON, BS_PUSHBUTTON | BS_CENTER | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 210, 15, 40, 14 
   CONTROL "About", 109, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 139, 60, 14 
   CONTROL "Exit", 110, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 191, 139, 60, 14 
   CONTROL "filename.exe", 102, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE, 42, 17, 163, 10 , 0x00020000
   CONTROL "RL!deUPX 1.x - 2.x unpacker by Reversing Labs", 101, STATIC, SS_CENTER | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 2, 1, 250, 10 , 0x00020000
   CONTROL "[Filename]", 112, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 17, 36, 10
   CONTROL "Unpack execution messages", 113, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 2, 34, 250, 100
   CONTROL "", 111, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 5, 43, 243, 75 , 0x00020000
   CONTROL 501, 502, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 142, 46, 9
   CONTROL "Realign PE32 EXE file [Recommended, but it can produce invalid files]", 700, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 118, 241, 14
END
