// These are the patch dialog templates used in TPE 2.02
// You may use this file as a template to create your own
// custom patch dialogs.
// Make sure you use the same control IDs as otherwise the
// patch won't work. The dialog ID can be anything you want.
// You're free to rearrange the controls or change their
// captions/window styles (you might for example change the
// website control into an email control, center align the
// controls' captions etc).
// This file needs to be compiled using a 32bit resource
// compiler such as BRC32.
// In order to have those nifty mouse-over effects you need
// to use the "TxBTN" and "WEBLABEL" window classes for the
// 'apply patch' button and the weblink label.

// Resource Workshop doesn't know these window styles...
#define SS_ETCHEDHORZ   0x0010
#define SS_ETCHEDVERT   0x0011
#define SS_BITMAP       0x000E
#define SS_CENTERIMAGE  0x0200
#define SS_SUNKEN       0x1000

// Controls IDs
#define IDC_PBTNPATCH           101
#define IDC_PEDTINFO            102
#define IDC_PLBLAUTHOR          103
#define IDC_PLBLTITLE           104
#define IDC_PCBBACKUP           105
#define IDC_PLBLPATCHINFO       106
#define IDC_PLBLWEBSITE         107
#define IDC_PLBLWEBSITE2        108
#define IDC_PLBLADDITIONAL      109
#define IDC_PBMPBITMAP          111


#define IDD_TEMPLATEBASE        300

//Template 1 (standard dialog, no bitmap)
#define IDD_TEMPLATE1           IDD_TEMPLATEBASE

IDD_TEMPLATE1 DIALOG 32, 32, 200, 146
STYLE DS_MODALFRAME | 0x804L | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "SDC"
FONT 8, "MS Sans Serif"
{
 CONTROL "Title:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4,6,18,8
 CONTROL "", IDC_PLBLTITLE, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 44,5,152,10
 CONTROL "Author:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4,19,28,8
 CONTROL "", IDC_PLBLAUTHOR, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 44,18,152,10
 CONTROL "Target:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4,32,36,8
 CONTROL "", IDC_PLBLPATCHINFO, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 44,31,152,10
 CONTROL "Additional information:", IDC_PLBLADDITIONAL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4,45,38,16
 CONTROL "", IDC_PEDTINFO, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 44,44,152,64
 CONTROL "Website:", IDC_PLBLWEBSITE2, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4 112,32,8
 CONTROL "", IDC_PLBLWEBSITE, "WEBLABEL", 4352 | WS_CHILD | WS_VISIBLE | WS_GROUP, 44, 112, 152, 10
 CONTROL "Apply patch", IDC_PBTNPATCH, "TxBTN", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 128, 52, 16, 0
 CONTROL "Create backup", IDC_PCBBACKUP, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 136, 128, 60, 16
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 4, 124, 193, 1
}

//Template 2 (dialog with bitmap on the left)
#define IDD_TEMPLATE2           IDD_TEMPLATEBASE+1

IDD_TEMPLATE2 DIALOG 32, 32, 262, 162
STYLE DS_MODALFRAME | 0x804L | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "SDC"
FONT 8, "MS Sans Serif"
{
 CONTROL "Title:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 72, 6, 18, 8
 CONTROL "", IDC_PLBLTITLE, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 110, 6, 146, 10
 CONTROL "Author:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 72, 20, 28, 8
 CONTROL "", IDC_PLBLAUTHOR, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 110, 20, 146, 10
 CONTROL "Target:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 72, 34, 36, 8
 CONTROL "", IDC_PLBLPATCHINFO, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 110, 34, 146, 10
 CONTROL "Additional information:", IDC_PLBLADDITIONAL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 72, 48, 38, 16
 CONTROL "", IDC_PEDTINFO, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 110, 48, 146, 74
 CONTROL "Website:", IDC_PLBLWEBSITE2, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 72, 126, 32, 8
 CONTROL "", IDC_PLBLWEBSITE, "WEBLABEL", 4352 | WS_CHILD | WS_VISIBLE | WS_GROUP, 110, 126, 146, 10
 CONTROL "Apply patch", IDC_PBTNPATCH, "TxBTN", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 144, 52, 16, 0
 CONTROL "Create backup", IDC_PCBBACKUP, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 176, 144, 60, 16
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 4, 140, 254, 1
 CONTROL "", IDC_PBMPBITMAP, "STATIC", SS_CENTERIMAGE | SS_SUNKEN | SS_BITMAP | WS_CHILD | WS_VISIBLE, 4, 6, 62, 130
}

//Template 3 (dialog with bitmap on top)
#define IDD_TEMPLATE3           IDD_TEMPLATEBASE+2

IDD_TEMPLATE3 DIALOG 32, 32, 200, 198
STYLE DS_MODALFRAME | 0x804L | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "SDC"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_PBMPBITMAP, "STATIC", SS_SUNKEN | SS_BITMAP | WS_CHILD | WS_VISIBLE, 4, 4, 192, 42
 CONTROL "Title:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 56, 18, 8
 CONTROL "", IDC_PLBLTITLE, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 44, 56, 152, 10
 CONTROL "Author:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 68, 28, 8
 CONTROL "", IDC_PLBLAUTHOR, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 44, 68, 152, 10
 CONTROL "Target:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 80, 36, 8
 CONTROL "", IDC_PLBLPATCHINFO, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 44, 80, 152, 10
 CONTROL "Additional information:", IDC_PLBLADDITIONAL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 94, 38, 16
 CONTROL "", IDC_PEDTINFO, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 44, 94, 152, 64
 CONTROL "Website:", IDC_PLBLWEBSITE2, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 162, 32, 8
 CONTROL "", IDC_PLBLWEBSITE, "WEBLABEL", 4352 | WS_CHILD | WS_VISIBLE | WS_GROUP, 44, 162, 152, 10
 CONTROL "Apply patch", IDC_PBTNPATCH, "TxBTN", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 180, 52, 16, 0
 CONTROL "Create backup", IDC_PCBBACKUP, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 136, 180, 60, 16
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 4, 176, 192, 1
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 4, 50, 192, 1
}
